$blue: #1890ff;
$green: #13ce66;
$orange: #ffba00;
$red: #ff4949;
// base color

// $blue:#324157;
$light-blue:#3a71a8;
$red:#c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow:#fec171;
$panGreen: #30b08f;

// 主题配置
$VHeader-color: $blue;
$color-primary: $light-blue;